body {
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-family:  Arial, Helvetica, sans-serif;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-family: Tahoma, Geneva, sans-serif;
	font-family: Verdana, Geneva, sans-serif;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 70%;
	background-color: #FFFFFF;
	color: #333333;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	margin: 1em 0 0.75em;
	page-break-after: avoid;
}
h2 {
	color: navy;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1.25em 0 0.75em;
	page-break-after: avoid;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 1ex;
	white-space: nowrap;
	page-break-after: avoid;
}
p {
	margin: 1ex 0;
}

img {
	border: 0;	
}
	
code {
	font-size: 1.1em;
	margin: 0;
	}
	pre {
		margin: 1em 0 1em 1em;
	}

ul {
	padding: 0;
	padding-bottom: 20px; /* give whitespace at bottom for FF */
	margin: 0;
	list-style-type: square;
	}
	li {
		padding: 0;
		margin: 0;
		margin: 0.5ex 0 0.5ex 1.2em;
	}

ul.nostyle {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

*, * focus {
	outline: none;
	margin: 0;
	padding: 0;
}

hr {
	clear:both;
	margin: 5px 0 10px 0;
	color: #BBB8B4;
	background-color: #BBB8B4;
	border: 0; height: 1px;	
}

tr.selected > * {
	background-color: #DDDDDD;
}


div#wrapperArea {
	min-width: 987px; 
	margin: 0 auto;
	background-color: #FFF;
	text-align: center;
	overflow: hidden;
}

div#headerAnTopMenuArea {
	overflow: hidden;
}

div#header {
	overflow: hidden;
	padding: 8px 0 8px 0;
	background: #BBB8B4;
	color: #FFF;
	font-size: 1.1em;
}

div#logo {
	float: left;
	position: relative;
	left: 0px;
	text-align: left;
	padding-left: 5px;
}
div#userLoginInfo {
	float: right;
	position: relative;
	right: 0px;
	text-align: right;
	padding-right: 10px;
}

div#contentArea {
	background-color: #FFF;
	overflow: hidden;
}

div#navigationMenuArea {
	margin: 5px 0 0 0;
	padding: 0;
	font-size: 1.0em;
	/*position: absolute;
	width: 270px;
	left: 0px;
	top: 75px;
  	bottom: 40px;*/
	overflow: auto;
	background-color: #FFF;
}

div#dynamicArea {
	text-align: left;
	padding: 0;
  	margin: 0;
/*	position: absolute;    
	top: 75px;
  	left: 270px;
  	right: 0px;
	bottom: 40px;*/
	min-width: 732px;
	overflow: hidden;
	background-color: #FFF;
}

div#toolsArea {
	overflow:auto;
}

div#footerArea {
	margin:0;
/*	position: absolute;
	bottom: 2px;
	left: 0px;
	right: 0px; */
	padding: 8px 0 8px 0;
	background: #BBB8B4;
	color: #FFF;
	font-size: 1.1em;
	text-align: center;
}

div#spaces, div#objectListScrollableArea,
div#cmsDefinitionTreeForSearch, div#systemTopicsTrigger, div#systemTopicsToggleContainer,
div#objectsTrigger, div#objectsToggleContainer, div#usersTrigger, div#usersToggleContainer, 
div#userTagsTrigger, div#userTagsToggleContainer, div#mostUsedTagsTrigger, div#mostUsedTagsToggleContainer,
div#webSitesTrigger, div#webSitesToggleContainer, div#userSpaceNavigatorScrollableArea, div#sharedSpaceNavigatorScrollableArea,
div#objectTypeSelectorScrollableArea, div#scriptsTrigger, div#scriptsToggleContainer, div#advancedSearchFormFields, div#myAccountRoles {
	border: 1px solid #EBE8E4;
	margin: 0 20px 20px 20px;
	padding: 20px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-box-shadow:#999 2px 2px 5px;
  	-webkit-box-shadow:#999 2px 2px 5px;
}

.formEditorScrollableArea {
	border: 1px solid #EBE8E4;
	margin: 0 20px 20px 20px;
	padding: 20px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
}

.roundedPanelHeader, .roundedMessageBox {
	border: 1px solid #AAA;
	margin: 0 20px 10px 20px;
	padding: 10px;
	background-color: #EBE8E4;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
/*	-moz-box-shadow:#999 2px 2px 10px;
  	-webkit-box-shadow:#999 2px 2px 10px; */
}

.roundedMessageBox {
	margin: 0 10px 10px 10px;
	padding: 5px;
	border: 1px dashed #AAA;
	background-color: #FFF;
	height:auto;
}

/*
#showMessage {
	border: 0;
	margin: 0;
	paddind: 10px;
	background-color: #FFF;
}
*/

.info {
	background-color: #A2C613;
	color: #FFF;	
}

.warn {
	background-color: #359AFF;
	color: #FFF;
}

.error {
	background-color: #D61D2A;
	color: #FFF;	
}


#scriptEngineEditor {
	position: absolute; 
	top: 125px; 
	bottom: 125px; 
	left:0px; 
	right:0px; 
	margin: 0 10px 0 10px;
}

.scriptEngineConsole {
	margin: 0;
	padding: 5px 10px 5px 5px;
	position: absolute;
	height: 100px;
	min-height: 100px;
	overflow: auto;
	bottom: 5px;
	left: 5px;
	right: 5px;
	
	border: 1px solid #EBE8E4;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-box-shadow:#999 2px 2px 7px;
  	-webkit-box-shadow:#999 2px 2px 7px;
}

.scriptEngineConsoleFullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  z-index: 9999;
  margin: 0;
  padding: 10px;
  background: inherit;
}

#scriptEngineMessages {
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	margin: 0;
	padding: 5px;
}


div#objectListScrollableArea {
	margin: 0 20px 0 20px;
	padding: 0;
	position: absolute; 
	left: 0px;
	right: 0px; 
	top: 160px; 
	bottom: 5px; 
	overflow: auto;
}


div#spaces {
	margin: 5px 20px 10px 20px;
	padding: 10px;
	background-color: #EBE8E4;
}

div#systemTopicsTrigger, div#objectsTrigger, div#usersTrigger, div#userTagsTrigger, div#mostUsedTagsTrigger,
div#webSitesTrigger, div#scriptsTrigger {
	margin: 0px 20px 10px 20px;
	padding: 10px;
	background-color: #EBE8E4;
	background-image: url(../images/cms-icons/16/fugue/toggle-expand.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

div#systemTopicsToggleContainer, div#objectsToggleContainer, div#usersToggleContainer, 
div#userTagsToggleContainer, div#mostUsedTagsToggleContainer, div#webSitesToggleContainer,
div#scriptsToggleContainer {
	margin: 0px 20px 10px 20px;
	padding: 10px;
	background-color: #EBE8E4;
}


div#cmsDefinitionTreeForSearch {
	margin: 0;
	padding: 10px;
	position: absolute;
	top: 50px;
	left: 10px; 
	width: 300px;
	bottom: 5px; 
	overflow: auto;
}

div#advancedSearchFormFields {
	margin: 0;
	padding: 10px;
	position: absolute; 
	left: 350px;
	right: 10px; 
	top: 50px; 
	bottom: 5px; 
	overflow: auto;
}

div#advancedSearchButtons {

}

div#systemTopicsTrigger a, div#objectsTrigger a, div#usersTrigger a, 
div#userTagsTrigger a, div#mostUsedTagsTrigger a, div#webSitesTrigger a,
div#scriptsTrigger a {
	text-decoration: none;
	display: block;
}

div#systemTopicsTrigger a:hover, div#objectsTrigger a:hover,
div#usersTrigger  a:hover, div#userTagsTrigger a:hover, div#mostUsedTagsTrigger a:hover, 
div#webSitesTrigger a:hover, div#scriptsTrigger a:hover {
	color: #AAA;
}
div#systemTopicsTrigger.active,  div#objectsTrigger.active,
div#objectsTrigger.active, div#usersTrigger.active, div#userTagsTrigger.active, div#mostUsedTagsTrigger.active, 
div#webSitesTrigger.active, div#scriptsTrigger.active {
	background-image: url(../images/cms-icons/16/fugue/toggle.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

div#dynPropList {
	padding-left: 0;
	margin-left: 0;
	border-bottom: 1px solid gray;
}

.dynPropItem {
	list-style: none;
	margin: 0;
	padding: 0.25em;
	border-top: 1px solid gray;
}

.buttonClass {
	font-size: 95%;
	color: #333;
}

.tableColumnsClass {
	color: #333;
}

/* tabs rules */

#tabs {
	position:absolute; 
	left: 0px; 
	top: 0px; 
	bottom: 0px; 
	overflow: hidden; 
	width: 99%;	
	
	padding: 0 0 0 2px;
	background: none;
	border-width: 0px;
}

#tabs .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
#tabs .ui-tabs-panel {
	/*border-width: 0px 1px 1px 1px;
	border-color: #AAAAAA;*/
	margin: 0em 0.2em 0.2em 0.2em;
	
}

#objectTabs {
	position:absolute; 
	left: 5px; 
	top: 70px; 
	bottom: 0px; 
	overflow: hidden; 
	width: 99%;	
	
	padding: 0px;
	background: none;
	border-width: 0px;
}

#objectTabs .ui-tabs-nav {
	padding-left: 100px;
}


#tabSelectors {
	font-size: 11px;
}

#objectTabSelectors {
	font-size: 10px;
}

.formEditorScrollableArea {
	background: #cccccc;
	margin: 0 20px 0 20px;
	padding: 10px 30px 10px 30px;
	position: absolute;
	left: 0px;
	right: 0px; 
	top: 60px;
	bottom: 5px; 
	overflow: auto;
}

.shareTabScrollableArea {
	margin: 0 20px 0 20px;
	padding: 10px 30px 10px 30px;
	position: absolute;
	left: 0px;
	right: 0px; 
	top: 30px;
	bottom: 10px; 
	overflow: auto;
}

.extraPropertiesTabScrollableArea {
	border: 1px solid #EBE8E4;
	background: #cccccc;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	margin: 0 20px 0 20px;
	padding: 10px;
	position: absolute;
	left: 0px;
	right: 0px; 
	top: 70px;
	bottom: 10px; 
	overflow: auto;
}

div#dashboardScrollableArea {
	margin: 0;
	padding: 0 0 0 10px;
	position: absolute; 
	left: 0px;
	right: 0px; 
	top: 55px; 
	bottom: 0px; 
	overflow: auto;
}


div#userSpaceNavigatorScrollableArea, div#sharedSpaceNavigatorScrollableArea {
	margin: 0 10px 0 10px;
	padding: 5px 10px 5px 10px;
	position: absolute; 
	left: 0px;
	right: 0px;
	top: 122px;
	bottom: 5px;
	overflow: auto;
}

div#objectTypeSelectorScrollableArea {
	margin: 0 10px 0 10px;
	padding: 5px 10px 5px 10px;
	position: absolute; 
	left: 0px;
	right: 0px;
	top: 75px;
	bottom: 5px;
	overflow: auto;
}


div#taxonomyEditorScrollableArea {
	background: #cccccc;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	margin: 0 20px 0 20px;
	padding: 5px 10px 5px 10px;
	position: absolute; 
	left: 0px;
	right: 0px;
	top: 110px;
	bottom: 5px;
	overflow: auto;
}

div#topicEditorScrollableArea {
	background: #cccccc;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	margin: 0 20px 0 20px;
	padding: 5px 10px 5px 10px;
	position: absolute; 
	left: 0px;
	right: 0px;
	top: 80px;
	bottom: 5px;
	overflow: auto;
}

div#tagEditorScrollableArea {
	background: #cccccc;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	margin: 0 20px 0 20px;
	padding: 5px 10px 5px 10px;
	position: absolute; 
	left: 0px;
	right: 0px;
	top: 80px;
	bottom: 5px;
	overflow: auto;
}

div#myAccountFormScrollableArea {
	margin: 0;
	padding: 5px 10px 5px 10px;
	position: absolute; 
	left: 0px;
	right: 0px;
	top: 50px;
	bottom: 5px;
	overflow: auto;
}

.breadcrumb, .folderName {
	font-size: 0.9em;	
}

.folderNameEdit {
	font-size: 0.8em;
	display: inline;
}

/*  portlet rules */
.portletColumn { 
	width: 50%; 
	float: left; 
	padding-bottom: 100px; 
}
.portlet { 
	margin: 0 1em 1em 0; 
	-moz-box-shadow:#999 2px 2px 7px;
	-webkit-box-shadow:#999 2px 2px 7px;
}
.portlet-header {
	margin: 0.3em; 
	padding-bottom: 5px; 
	padding-top: 5px; 
	padding-left: 10px; 
	font-size: 90%; 
	font-weight: normal; 
	color: #444444;
}
.portlet-header .ui-icon { 
	float: right; 
}
.portlet-content { 
	padding: 0.4em; 
}
.ui-sortable-placeholder { 
	border: 1px dotted black; 
	visibility: visible !important; 
	height: 50px !important; 
}
.ui-sortable-placeholder * { 
	visibility: hidden; 
}


a:link,a:visited {
	color: #003388;;
	text-decoration: none;
}

/*a:link, a:visited {color: #7DC2F6; text-decoration:none;}*/
a:hover {
	color: #003388;;
	text-decoration: underline;
}

a img {
	border: none;
}

a.topmenuLink {
	display:block; 
	height: 16px; 
	padding-top: 3px; 
	text-align: left; 
	text-indent: 22px; 
}

a.topmenuLink:link,a.topmenuLink:visited {
	color: #000000;
	text-decoration: none
}

a.topmenuLink:hover {
	color: #333;
}

.browserTogglePanelHeaderClass {
	font-size: 80%;
}

.togglePanelHeaderClass {
	font-size: 90%;
}

.togglePanelBodyClass {
	padding-left: 2px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 90%;
	background-color: #EBE8E4; /*#FFF6F2;#E8EEFF;#FFE4D9;#FCEEE5;*/
}

.togglePanelInActiveAreaHeaderClass {
	font-size: 80%;
}

.treeNodeMouseOverClass {
	
}

.rich-tree-node-highlighted {
	color: #333;
	text-decoration: none;
}

.togglePanelInActiveAreaBodyClass {
	padding-left: 2px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 90%;
	background-color: #F7F9FF;/*#E8EEFF*/;
}

.fullViewTableCol1 {
	border-width: 1px 1px 1px 1px;
	border-color: #AAA #AAA #AAA #AAA;
	border-style: solid hidden solid solid;
	color: #222;
	text-align: center;
	font-weight: bold;
}

.fullViewTableCol2 {
	border-width: 1px 1px 1px 1px;
	border-color: #AAA #AAA #AAA #AAA;
	border-style: solid solid solid hidden;
	color: #222;
}

.listViewTableCol {
	border-width: 1px 1px 1px 1px;
	border-color: #AAA #AAA #AAA #AAA;
	border-style: solid solid solid solid;
	color: #222;
	text-align: center;
}

.binaryChannelThumbnail {
	border: 5px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.visible {
	display: none;
	cursor: default;
	position:absolute;
	top: 20%;
	left: 40%; 
	z-index: 50000;  
	background-color: #EEEEEE;	
}

div.gradient {
	background: #F2F2F2 url(gradient.png) repeat-x top;
	margin: 15px
}

div.gradient p {
	margin: 0;
	padding: 2px 5px
}

p.codehere {
	color: #2A4D91
}

div#header h1 {
	color: #FFF;
	font-size: 300%;
	font-weight: 900
}

div#menu {
	width: 100%;
	overflow: auto;
	background: #e7e7e7;
	padding-top: 5px
}

ul#nav,ul#nav li {
	list-style-type: none;
	margin: 0;
	padding: 0
}

ul#nav {
	padding-left: 15px
}

ul#nav li {
	float: left;
	width: 80px;
	margin-right: 2px;
	text-align: center
}

ul#nav a {
	float: left;
	width: 80px;
	text-decoration: none;
	background: #FFC;
	color: #999
}

ul#nav li.active a,ul#nav a:hover {
	color: #000
}

.spaceGridColumnClass {
	border: 0px;
	
}

table.listViewContentObjectTable th, 
table.contentObjectTypeTable th {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 95%;
	color: #333333;
	overflow: auto;
}

table.listViewContentObjectTable a,
table.listViewContentObjectTable a.selected,
table.listViewContentObjectTable a.active,
table.contentObjectTypeTable a,
table.contentObjectTypeTable a.selected,
table.contentObjectTypeTable a.active
		{ 
		color: #444444;
		text-decoration: none;
		font-weight: normal;
		cursor:			pointer;
	}

table.listViewContentObjectTable a:hover,
table.contentObjectTypeTable a:hover {
	text-decoration: underline;
}

table.listViewContentObjectTable td, 
table.contentObjectTypeTable td {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 90%;
	color: #444444;
}

table.listViewContentObjectTable th.actions,
table.contentObjectTypeTable th.actions {
	width: 120px;
}
table.listViewContentObjectTable td.actions, 
table.contentObjectTypeTable td.actions {
	width: 120px;
}

table.listViewContentObjectTable th.title,
table.listViewContentObjectTable td.title {
	width: 250px;
}

table.contentObjectTypeTable th.typeName,
table.contentObjectTypeTable td.typeName {
	width: 250px;
}

/*
###### TOP MENU ########
*/
.mbmenu{
  display:none;
}
.boxMenu {
	width : 520px;	
}
.rootVoices{
	background-color:#f3f3f3;
	padding:5px;
	padding-bottom:0;
}
.rootVoices td.rootVoice {
	vertical-align:middle;
	background-color:transparent;
	width:120px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #444444;
	font-size:12px;
	font-weight: 600;
	line-height:14px;
	padding:8px;
	cursor: pointer;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
}

.rootVoices td.rootVoice.selected{
	background: orangered url("../images/topMenu/bgnd_sel_4.png");
	padding:8px;
	color:#ffffff;
	cursor: pointer;
  text-shadow:#660033 1px 1px 1px;
  -moz-box-shadow:#999 2px 2px 7px;
  -webkit-box-shadow:#999 2px 2px 7px;
}



.rootVoices.vertical {
	width:140px;
}
.rootVoices.vertical td.rootVoice{
	-moz-border-radius:5px 0px 0 5px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:5px;
}

.menuShadow{
	padding:2px;
	padding-bottom:0px;
	left:-2px;
	top:1px;
}

/**/

.menuContainer{
  overflow:auto;
  position:absolute;
	background-color:gray;
	padding:0;
  -moz-box-shadow:#999 2px 2px 7px;
  -webkit-box-shadow:#999 2px 2px 7px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.menuContainer .line{
	background-color:transparent;
	width:100%;
}
.menuContainer .line.title {
	background-color:#B23305;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:1em;
	border-bottom:1px solid darkred;
}
.menuContainer .line.title a{
	font-size:1em;
}
.menuContainer td a{
	text-decoration:none;
	color: #f3f3f3;
}
.menuContainer td.voice{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:1em;
	padding:7px;
}
.menuContainer .separator{
	background-color:#999;
	height:1px;
}
.menuContainer td.img{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	text-align:center;
	font-size:1em;
	color: #c3c3c3;
	background-color:transparent;
	width:24px;
	padding:5px;
}
.menuContainer td.img img{
	width:20px;
}
.menuContainer .textBox{
	padding: 10px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:1em;
	color: #c3c3c3;
}
.menuContainer .selected td{
	background-color:#f3f3f3;
	background-image:url("../images/topMenu/bgnd_sel_2.jpg")
}
.menuContainer .selected td a{
	color:#000;
  text-shadow:#fff 2px 2px 1px;
  display:block;  
}
.menuContainer .disabled td, .menuContainer .disabled td a {
	color: #cccccc;
}
.menuContainer .subMenuOpener{
	background-image:url("../images/topMenu/menuArrow_w.gif");
	background-repeat:no-repeat;
	background-position:right;
}
.menuContainer .selected .subMenuOpener{
	background-image:url("../images/topMenu/menuArrow.gif");
	background-repeat:no-repeat;
	background-position:right;
}


/*#### OBJECT TYPE SELECTION MENU #### */
.objectTypeSelectionRootVoices{
	padding-bottom: 5px;
}
.objectTypeSelectionRootVoices td.rootVoice {
	vertical-align:middle;
	padding-left: 20px; 
	background: url(../images/cms-icons/16/fugue/plus.png) no-repeat 0px center;
	width:160px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:1em;
	line-height:18px;
	cursor: pointer;
}

.objectTypeSelectionRootVoices td.rootVoice.selected {
	text-decoration: underline;
	cursor: pointer;
}

ul.menuSplittedObjectTypeList {
	list-style-type:none;
	width:150px;
	float:left;
	margin: 10px 10px 10px 10px;
	padding: 0;	
}

ul.menuSplittedObjectTypeList li {
	width:150px;
	float:left;
	padding: 0;
	color: #fff;
}

ul.menuSplittedObjectTypeList a {
	color: #f3f3f3;
}

ul.contentTypeEditorSplittedObjectTypeList {
	list-style-type:none;
	width:300px;
	float:left;
	margin: 10px 10px 10px 10px;
	padding: 0;	
}

ul.contentTypeEditorSplittedObjectTypeList li {
	width:100%;
	float:left;
	padding: 0;
}

ul.contentTypeEditorSplittedObjectTypeList a {

}

ul.horizontalList {
	list-style-type: none;
	margin: 0;
	padding: 0
}

ul.horizontalList li {
	display: inline;
	margin: 0;
	padding: 0 5px 0 0;	
}

.rowsPerPage {
	font-size: 0.8em;	
}

/*
 *	PANES & CONTENT-DIVs
 */
.ui-layout-pane { /* all 'panes' */
	/*background:	#FFF; 
	border:		1px solid #BBB;
	 DO NOT add scrolling (or padding) to 'panes' that have a content-div,
	   otherwise you may get double-scrollbars - on the pane AND on the content-div
	
	padding:	10px; */
	overflow:	auto;
	}
/* (scrolling) content-div inside pane allows for fixed header(s) and/or footer(s) */
.ui-layout-content {
	padding:	10px;
	position:	relative; /* contain floated or positioned elements */
	overflow:	auto; /* add scrolling to content-div */
}

/*
 *	RESIZER-BARS
 */
.ui-layout-resizer {
	background: #EEEEEE;
}

.ui-layout-resizer-hover ,	/* hover-color to 'resize' */
.ui-layout-resizer-dragging {	/* resizer beging 'dragging' */
	background: #AAAAAA;
}

.ui-layout-resizer-drag {
	background: #EEEEEE;
}
.ui-layout-resizer-dragging {	/* CLONED resizer being dragged */
		border-left:  1px solid #AAAAAA;
		border-right: 1px solid #AAAAAA;
}
.ui-layout-resizer-dragging-limit {	
		background: orangered; 
}
.ui-layout-resizer-sliding {	/* resizer when pane is 'slid open' */
	opacity: .35; /* show only a slight shadow */
	filter:  alpha(opacity=35);
}
.ui-layout-resizer-sliding-hover {	/* sliding resizer - hover */
	opacity: 1.00; /* on-hover, show the resizer-bar normally */
	filter:  alpha(opacity=100);
}

/*
 *	TOGGLER-BUTTONS
 */
 /* hide the toggler-button when the pane is 'slid open' */
.ui-layout-toggler {
	background-color: orangered;
	width: 15px;
}
.ui-layout-resizer-open .ui-layout-toggler {
	opacity: .35; /* show only a slight shadow */
	filter:  alpha(opacity=35);
}
.ui-layout-resizer-hover .ui-layout-toggler {
	opacity: .35;
	filter:  alpha(opacity=35);
}
.ui-layout-resizer-hover .ui-layout-toggler-hover { /* need specificity */
	opacity: 1.00;
	filter:  alpha(opacity=100);
}

	
/*
 *	style the text we put INSIDE the togglers
 */
.ui-layout-toggler .content {
	color:			#666;
	font-size:		12px;
	font-weight:	bold;
	width:			100%;
	padding-bottom:	0.35ex; /* to 'vertically center' text inside text-span */
}

/* form formatting */

/* Most Outer List of properties*/
ol.formElementList {  
	padding: 1em 1em 0 0;
	list-style: none;
}

/* Most outer list of properties may contain fieldsets for each complex property */
fieldset { 
	width: 100%;
	border: none;
	margin: 25px 0 25px 0;
	float: left;      
	clear: both;
	
	/*
	position: relative;      
	
	*/
}

legend {  
	color: #383838;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 8px;
	text-shadow: 0 1px 1px #c0c0c0;
  
}

/* Inner List Of properties, i.e properties inside a complex property without using a fieldset */
ol.childProperties {
	position: relative;
	float: left;
	/*width: 77%;*/
	width: 70%; 
	padding: 1em 1em 0 0; 
	margin: 0;
	list-style-type: none;
	border: 1px solid #EBE8E4;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
/*	-moz-box-shadow:#999 2px 2px 4px;
  	-webkit-box-shadow:#999 2px 2px 4px; */
}


li.formElement {  
	float: left;    
	clear: left;    
	width: 100%;    
	padding-bottom: 3px;
	color: #444444;
}

li.formElementFieldsetView {
	float: left;    
	clear: left;
	width: 99%;
	background: #e9e9e9;
	background: rgba(255,255,255,.3);
	border-color: #f9f9f9;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin: 0 0 2px 0;
}

li.formElement label {
	float: left;    
	width: 20%;    
	margin-right: 1em;
	text-align: left;   
/*	text-align: right; */
/*	color: #777777; */
	color: #444444;
}

li.formElementFieldsetView label {
	float: left;
	margin-right: 1em;
	font-size: 13px;
	width: 20%;
}

li.singleValueComplexProperty > label{
	font-weight: bold;	
}

div.formElementValuesLabelSpacer, div.childPropertiesLabelSpacer {
	clear: left;
	float: left;    
	width: 20%;    
	margin-right: 1em;    
	text-align: left;
	color: #e9e9e9;
	color: rgba(255,255,255,0);
}

ol.formElementValues {
	float: left;
	width: 75%;
	margin: 0 0 0 0;
	padding: 5px 0 0 0;
	list-style-type: none;
}

ol.topicValues, ol.binaryValues, ol.complexPropertyValues, ol.objectReferenceValues {
	float: left;
	width: 75%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style-type: none;
}

li.inlineFormElementValue {
	display: block;
	float: left;
	line-height: 16px;
	margin: 0 5px 3px 0;
	padding: 5px 5px 5px 5px;
	white-space: nowrap;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 6px 6px;
	background-color: #EEEEEE;
	opacity: 0.8;
	filter: alpha(opacity=80); 
	-moz-opacity:0.8;
	color: #222222;
	font-size: 0.9em;
}  

li.inlineFormElementValue a.delete {
	margin: 0 3px 0 3px;
	padding: 0;
	width: 16px;
	vertical-align: middle;
	background: #EEEEEE;
}

.dragElementValue {
	display: inline-table;
	line-height: 16px;
	margin: 0 0 0 3px;
	padding: 0;
	width: 16px;
	text-indent:-9999px;
	background: #359AFF url(../images/cms-icons/16/fugue/arrow-switch.png) no-repeat center;
}

li.inColumnFormElementValue {
	margin: 0 0 5px 0;
	padding: 0;
	width: 100%;
}

fieldset.submit {  
	float: none;    
	width: auto;    
	border: 0 none #FFF;    
	padding-left: 12em;  
}


li.formElement input, .shareTabScrollableArea input, li.formElement select, .shareTabScrollableArea select {
	width: 70%;
}

li.inColumnFormElementValue input, li.inColumnFormElementValue select {
	width: 93.5%;
}


li.formElement textarea.plainText, .shareTabScrollableArea textarea.plainText {
	width: 70%;
	white-space: nowrap;
}

li.formElement textarea, li.formElement input,  .shareTabScrollableArea textarea, .shareTabScrollableArea input {
/*	background: #EEEEEE;
	border: none;*/
	border: 1px solid #CCCCCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	outline: none;
	padding: 5px;
	color:#444444;
}

li.formElement textarea:hover, li.formElement input:hover, .shareTabScrollableArea textarea:hover, .shareTabScrollableArea input:hover {
	background: #EEEEEE;
}

li.formElement textarea:focus, li.formElement input:focus, .shareTabScrollableArea textarea:focus, .shareTabScrollableArea input:focus {
	background: #EEEEEE;
}


select {
	font-size: 11px;
	color: #444444	;	
}


li.formElementFieldsetView input:not([type=radio]),
li.formElementFieldsetView textarea,
li.formElementFieldsetView select {
	background: #ffffff;
	color: #222222;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	/*font: italic 13px Georgia, "Times New Roman", Times, serif;*/
	font: italic 13px "lucida grande",tahoma,verdana,arial,sans-serif;
	outline: none;
	padding: 5px;
	width: 70%;
}

li.formElementFieldsetView select {
	width: 71.2%;
}


div#taxonomyEditorScrollableArea li.formElementFieldsetView select, 
div#topicEditorScrollableArea li.formElementFieldsetView select, 
div#tagEditorScrollableArea li.formElementFieldsetView select {
	width: 100%;
	font: 13px "lucida grande",tahoma,verdana,arial,sans-serif;
}

li.inColumnFormElementValue input:not([type=radio]),
li.inColumnFormElementValue textarea {
	width: 93.5%;
}

li.inColumnFormElementValue select {
	width: 95.0%;
}

li.formElementFieldsetView input:not([type=submit]):focus,
li.formElementFieldsetView textarea:focus {
	background: #eaeaea;
}
li.formElementFieldsetView input[type=radio] {
	float: left;
	margin-right: 5px;
}

button, input[type=button]{
      margin: auto;
      padding: 5px 20px;
      display:inline-block;
      cursor:pointer;
      font-size: 13px;
      border: none;
      background-color:#eee;
      color:#222222;
      letter-spacing: 1px;
   /*   text-shadow: 0 1px 1px #BBBBBB;
      text-transform: uppercase; */
      
      -moz-border-radius: 8px;
      -webkit-border-radius:8px;
      -khtml-border-radius: 8px;
      border-radius: 8px;
      -moz-box-shadow:#999 2px 0px 3px;
      -webkit-box-shadow:#999 2px 0px 3px;
}

button:HOVER, input[type=button]:hover {
	color:#FFF;
	background-color: orangered;
}

div#objectTitleAndSaveAction button, div#objectTitleAndSaveAction input[type=button]{
	margin: 0 5px;
	padding:2px 25px;
	font-weight: bold;
	font-size: 14px;
}

div#addExtraProperties button, div#addExtraProperties input[type=button]{
	padding:2px 20px;
}

div#actionsTab button, div#actionsTab input[type=button]{
	width: 400px;
	margin: 5px 0;
	padding:2px 20px;
}

ul#logoutDialogButtons button, ul#logoutDialogButtons input[type=button]{
	width: 450px;
	margin: 5px 0;
	padding:2px 20px;
}
    
:focus {
	outline: 0;
}

table.objectTypeSelectorTable td {
	padding: 10px 20px 10px 10px;
	border-bottom: 2px dotted #BBB8B4; 	
}

table.objectTypeSelectorTable td.objectTypeLabel {
	width: 300px;
	vertical-align: top;
}

table.objectTypeSelectorTable td.loadXSD {
	vertical-align: top;
}


.ajaxActivityIndicator {
	position: fixed;
	bottom: 0;
	padding: 5px 0 0 0;
	height: 30px;
	margin: 0;
	width: 100%;
	background-color: #3399FF;
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
	/*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	z-index: 9000;
}

.vspacer-5px {
	margin: 5px 0 0 0;
	visibility: hidden;
  	clear: both;
}

.vspacer-10px {
	margin: 10px 0 0 0;
	visibility: hidden;
	clear: both;
}

.vspacer-15px {
	margin: 15px 0 0 0;
	visibility: hidden;
	clear: both;
}